<h1 class="page-title">About Me</h1>
<h3>Hello! <br>I'm Joss, a 27 year old web developer from Sydney, Australia.</h3>

<h3>You can contact me at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#115;&#104;&#117;&#97;&#46;&#112;&#97;&#108;&#105;&#110;&#103;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#106;&#111;&#115;&#104;&#117;&#97;&#46;&#112;&#97;&#108;&#105;&#110;&#103;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>.</h3>

<h3>I'm married to Jess</h3>
<%= image_tag "jess-joss.jpg" %>

<h3>These are our twins, Annika and Luke</h3>
<%= image_tag "luke-annika.jpg" %>

<h3>When I'm not coding or changing nappies, I like surfing</h3>
<%= image_tag "joss-surfing.jpg" %>

<h3>and skateboarding</h3>
<%= image_tag "skating.jpg" %>

