<div class="about-page">
  <h1 class="page-title">o & x's</h1>
  <p>I normally use jQuery and Javascript. I want to learn backbone and coffee script, so I'm going to use it to build a naughts and crosses game.</p>

  <div id="backbone-container">

  </div>
</div>


