<div class="about-page">
  <h1 class="page-title">o & x's</h1>
  <p>I normally use jQuery and Javascript. I want to learn backbone and coffee script, so I've used it to build a simple naughts and crosses game. At the moment, it's two-player only. Soon I'll update it so you can play vs. the computer.</p>

  <div id="backbone-container">

  </div>
</div>


