<h1>404 not found</h1>
<p>Were you hoping to find something cool here? Like <%= link_to 'this', 'http://i.imgur.com/q3078Bs.jpg', target: "_blank" %>?</p>

<p>If I ever check off every single thing I want to do in this life, then I may or may not come back and update my 404 page.</p>

<p>In the meantime, if you're desperate for good 404 pages, <%= link_to 'check this out', 'http://blogof.francescomugnai.com/2008/08/the-100-most-funny-and-unusual-404-error-pages/', target: "_blank" %></p>

<p>Actually a good idea would be to make a 404 page, all about the ins and outs of 404 pages and how to avoid them by re-routing old links when a site moves etc. That would be kind of witty and ironic.</p>

<h3>My brother Willem, about to 404 it in Indonesia</h3>

<%= image_tag "willem-404.png" %>