<h2><%= link_to_unless_current post.title, post %></h2>
<%= post.content.html_safe %>
<% #DevHub q - why can you access the model direct form the view? And shouldn't content rendering be the responsibility of the view? %>
