<% if @category %>
  <% pageTitle = 'BLOG: ' + @category.name %>
<% else %>
  <% pageTitle = 'BLOG: All Posts' %>
<% end %>

<h1><%= pageTitle %></h1>

<%= paginate @posts %>

<%= render :partial => @posts %>

<%= paginate @posts %>
