
h1.page-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em;
}

input[type="submit"] {
  @include button;
}

div#main {
  @include grid-row;
}

.top-bar .name h1 a:hover {
  color: #b6ebff;
}

.top-bar ul.right a {
  text-transform: uppercase;

  &:hover {
    color: #b6ebff;
  }

  span {
    font-size: 1.5em;
    padding-top: 0.3em;
    line-height: 0.7em;
    display: inline-block;
  }
}

#sidebar {
  //@include side-nav;
  margin-top: 25px;
  background: #f8f8f8;
  padding: 13px;
  border: 1px solid #ddd;

  div.about {
    border-bottom: 1px solid #ddd;

    img {
      display: block;
      width: 200px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

footer {
  padding-top: 15px;
  margin-top: 50px;
  color: #000;
  border-top: 1px solid #ddd;
  text-align: center;
}
