// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
  padding-bottom: 1.3em;

  header {

    h2, h3, h4, h5 {
      margin: 0;
    }
  }

  .more {

  }
}

code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-weight: normal;
  color: #333;
}


pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  margin-bottom: 15px;

}
