// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-bottom: 3rem;

  header {
    a {
      text-decoration: none;
    }
  }

  ul {
    margin-left: 18px;
  }

  ul li {
    margin-bottom: 0.7rem;
  }

  footer {
    margin-top: 2rem;
  }

  .more {

  }
}

code {
  margin: 0 2px;
  padding: 0px 5px;
  font-weight: normal;
  color: #333;
}

pre {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  margin-bottom: 15px;

}
