<div id="sidebar">
  <div class="about">
    <%= image_tag "joss_glasses.png" %>
    <p>Hi, I'm Joss, a 27yr old web developer and father of twins.</p>
    <p>I do most of my development in CakePHP, but I'm learning Rails as I build this site.</p>
  </div>
  <h3>Blog</h3>
  <ul class="side-nav">
    <li><%= link_to 'All Posts', posts_path %></li>
    <li class="divider"></li>
    <% @categories_all.each do |c| %>
      <li><%= link_to c.name, posts_category_path(c.slug) %></li>
    <% end %>
    <li class="divider"></li>
  </ul>

  <a class="twitter-timeline" href="https://twitter.com/joshuapaling" data-widget-id="345441050686550016">Tweets by @joshuapaling</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>