<div id="sidebar">
  <div class="about">
    <%= image_tag "joss_glasses.png" %>
    <p>Hi, I'm Joss. I'm a 27yr old Web Dev and father of twins.</p>
    <p>I'm learning rails as I built this site.</p>
  </div>
  <h3>Categories</h3>
  <ul class="side-nav">
    <li><%= link_to 'All Posts', posts_path %></li>
    <li class="divider"></li>
    <% @categories.each do |c| %>
      <li><%= link_to c.name, posts_path(:category => c) %></li>
    <% end %>
  </ul>
</div>