<div id="sidebar">
  <h1 class="page-title">Categories</h1>
  <ul class="side-nav">
    <li><%= link_to 'ALL POSTS', posts_path %></li>
    <% @categories_all.each do |c| %>
      <li><%= link_to c.name, posts_category_path(c.slug) %></li>
    <% end %>
  </ul>

  <a class="twitter-timeline" href="https://twitter.com/joshuapaling" data-widget-id="345441050686550016">Tweets by @joshuapaling</a>

  <!-- twitter widget -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>